# Load Dictionary Concepts

This notebook reads in the dictionary concept file ("data/Concepts.obo") in OBO format and convert it into a tab separated values file ("data/Concepts.tsv") for loading into Neo4j database.

## Import Libraries

In [157]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

import os 
import configparser
import csv

In [158]:
# install or import Neo4j GraphDataScience library
try: 
  from graphdatascience import GraphDataScience
  print('Successfully imported GraphDataScience')
except ModuleNotFoundError:
  !pip3 install graphdatascience
  from graphdatascience import GraphDataScience
  print('installed and imported GraphDataScience')

Successfully imported GraphDataScience

# Custom Functions

In [159]:
# function adapted from Neo4j GDS Fraud Demo Notebook (h/t Zach B.) mainly used for connecting to Neo4j database from Python
def read_neo4j_properties(NEO4J_PROPERTIES_FILE: str=None) -> str:
  '''Parses Neo4j database or Aura connection details from provided .ini filepath.
  Requirements:
    configparser

  Args:
    NEO4J_PROPERTIES_FILE: path to a .ini file
  
  Returns:
    HOST: link to Neo4j or Aura host 
    USERNAME: login username
    PASSWORD: login password 

  Note: The .ini file should use the following syntax
    [NEO4J]
    PASSWORD=<password>
    USERNAME=<database name>
    HOST=<host uri>

  If no path is passed, the function will return the defaults:
    HOST = 'neo4j://localhost'
    USERNAME = 'neo4j'
    PASSWORD = 'password'
  '''

  if NEO4J_PROPERTIES_FILE is not None and os.path.exists(NEO4J_PROPERTIES_FILE):
      config = configparser.RawConfigParser()
      config.read(NEO4J_PROPERTIES_FILE)
      HOST = config['NEO4J']['HOST']
      USERNAME = config['NEO4J']['USERNAME']
      PASSWORD = config['NEO4J']['PASSWORD']
      print('Using HOST, USERNAME, PASSWORD from .ini file')
      return HOST, USERNAME, PASSWORD
  else:
      print('Could not find database properties file, using defaults:')
      HOST = 'neo4j://localhost'
      USERNAME = 'neo4j'
      PASSWORD = 'password'
      print(f'HOST: {HOST} \nUSERHAME: {USERNAME} \nPASSWORD: {PASSWORD}')
      return HOST, USERNAME, PASSWORD

In [160]:
def replace_substring_from_beginning(string, substring, replacement):
  """
  Replaces a substring starting from the beginning of a string.

  Args:
      string: The original string.
      substring: The substring to be replaced.
      replacement: The replacement string.

  Returns:
      The modified string with the substring replaced.
  """

  if not substring:
    return string  # Avoid replacing empty substrings

  if string.startswith(substring):
    return replacement + string[len(substring):]
  else:
    return string

In [161]:
# function to convert concepts.obo into a TSV file
def obo_to_tsv(concepts_obo_file_path, concepts_tsv_file_path):

    terms = []
    record = []
    alter_names = []
    # Open the file in read mode
    with open(concepts_obo_file_path, "r") as obo_file:
      # Loop through each line

      for line in obo_file:
        if line == "[Term]":
            record = []
            alter_names = []
        elif line.startswith("ConceptName: "):
            record.append(replace_substring_from_beginning(line.strip(), "ConceptName: ", ""))
        elif line.startswith("Id: "):
            record.append(replace_substring_from_beginning(line.strip(), "Id: ", ""))
        elif line.startswith("CanonicalName: "):
            record.append(replace_substring_from_beginning(line.strip(), "CanonicalName: ", ""))
        elif line.startswith("Type: "):
            record.append(replace_substring_from_beginning(line.strip(), "Type: ", ""))
        elif line.startswith("TypeId: "):
            record.append(replace_substring_from_beginning(line.strip(), "TypeId: ", ""))
        elif line.startswith("AlternativeNames: "):
            alter_names.append(replace_substring_from_beginning(line, "AlternativeNames: ", "").strip())
        elif len(record) > 0 and line == "\n":
            if len(alter_names):
                record.append("; ".join(alter_names))
            terms.append("\t".join(record)+"\n")
            record = []
            alter_names = []
        

    obo_file.close()
    # open TSV file for writing
    with open(concepts_tsv_file_path, "w") as tsv_file:
        # write to file
        term_header = f"concept_name\tid\tcanonical_name\ttype\ttype_id\talter_names\n"
        tsv_file.write(term_header)
        for term in terms:
            tsv_file.write(term)
    tsv_file.close()

In [162]:
# Convert dictionary concepts in OBO format into TSV format.
obo_to_tsv("data/Concepts.obo", "data/Concepts.tsv")

# Connect to Neo4j DB
It is recommended to store authentication credentials in a separate file and read them in to the notebook as variables. This code assumes the files are stored in a local auth directory.

In [163]:
# get authentication credentials from local auth file
NEO4J_PROPERTIES_FILE = 'auth/immerse_kg_auth.ini'
HOST, USERNAME, PASSWORD = read_neo4j_properties(NEO4J_PROPERTIES_FILE=NEO4J_PROPERTIES_FILE)

Using HOST, USERNAME, PASSWORD from .ini file

In [ ]:
# connect to neo4j instance 
gds = GraphDataScience(HOST, auth=(USERNAME, PASSWORD), aura_ds=False)

In [165]:
# confirm connection with GDS version 
gds.version()

'2.5.0'

# Cleanup Dictionary Concepts

In [166]:
# if the step of loading dictionary concepts failed or want to reload dictionary concepts, clear out the dictonary concepts from the database
gds.run_cypher('''
                MATCH (n:DictionaryConcept)
                DETACH DELETE n
                ''')

Empty DataFrame
Columns: []
Index: []

In [167]:
# read concepts.tsv file
dictionary_concept_nodes = pd.read_csv('data/Concepts.tsv', sep='\t', header=0).fillna('NA') 
dictionary_concept_nodes.head().to_dict(orient='records')

[{'concept_name': '(fut8) gene knockout cho-s_COID438040',
  'id': 'COID438040',
  'canonical_name': '(fut8) gene knockout cho-s',
  'type': 'chinese hamster ovary (CHO)',
  'type_id': 'C58',
  'alter_names': 'fut8 gene knockout cho-s'},
 {'concept_name': '1-ag4-1_COID898401',
  'id': 'COID898401',
  'canonical_name': '1-ag4-1',
  'type': 'hybridoma',
  'type_id': 'C57',
  'alter_names': 'NA'},
 {'concept_name': '2-f-peracetyl fucose_COID847827',
  'id': 'COID847827',
  'canonical_name': '2-f-peracetyl fucose',
  'type': 'sugar (subset of carbon source)',
  'type_id': 'C27',
  'alter_names': 'NA'},
 {'concept_name': 'FA2G1_COID847899',
  'id': 'COID847899',
  'canonical_name': 'FA2G1',
  'type': 'sugar (subset of carbon source)',
  'type_id': 'C27',
  'alter_names': 'NA'},
 {'concept_name': 'FUC8_COID847828',
  'id': 'COID847828',
  'canonical_name': 'FUC8',
  'type': 'sugar (subset of carbon source)',
  'type_id': 'C27',
  'alter_names': 'NA'}]

In [168]:
# Create contraint on Concept nodes
gds.run_cypher('''CREATE CONSTRAINT dictionary_concept IF NOT EXISTS FOR (c:DictionaryConcept) REQUIRE c.id IS UNIQUE''')

Empty DataFrame
Columns: []
Index: []

In [169]:
# Check the constraint created in the step above.
gds.run_cypher('''SHOW CONSTRAINTS''')

,id,name,type,entityType,labelsOrTypes,properties,ownedIndex
0,5,dictionary_concept,UNIQUENESS,NODE,[DictionaryConcept],[id],dictionary_concept
1,2,ontological_concept,UNIQUENESS,NODE,[OntologicalConcept],[id],ontological_concept

# Load Dictionary Concept

In [170]:
# Load DictionaryConcept nodes into Neo4j database
gds.run_cypher('''
               UNWIND $node_list AS node
               CALL apoc.merge.node (["DictionaryConcept"], {id: node.id, concept_name: node.concept_name, canonical_name: node.canonical_name, type: node.type, type_id: node.type_id, alter_names: node.alter_names })
               YIELD node as n 
               RETURN n
              ''', {'node_list': dictionary_concept_nodes.to_dict('records')})

                                                                  n
0    (concept_name, alter_names, canonical_name, type_id, id, type)
1    (concept_name, alter_names, canonical_name, type_id, id, type)
2    (concept_name, alter_names, canonical_name, type_id, id, type)
3    (concept_name, alter_names, canonical_name, type_id, id, type)
4    (concept_name, alter_names, canonical_name, type_id, id, type)
5    (concept_name, alter_names, canonical_name, type_id, id, type)
6    (concept_name, alter_names, canonical_name, type_id, id, type)
7    (concept_name, alter_names, canonical_name, type_id, id, type)
8    (concept_name, alter_names, canonical_name, type_id, id, type)
9    (concept_name, alter_names, canonical_name, type_id, id, type)
10   (concept_name, alter_names, canonical_name, type_id, id, type)
11   (concept_name, alter_names, canonical_name, type_id, id, type)
12   (concept_name, alter_names, canonical_name, type_id, id, type)
13   (concept_name, alter_names, canonical_name, type_id, id, type)
14   (concept_name, alter_names, canonical_name, type_id, id, type)
15   (concept_name, alter_names, canonical_name, type_id, id, type)
16   (concept_name, alter_names, canonical_name, type_id, id, type)
17   (concept_name, alter_names, canonical_name, type_id, id, type)
18   (concept_name, alter_names, canonical_name, type_id, id, type)
19   (concept_name, alter_names, canonical_name, type_id, id, type)
20   (concept_name, alter_names, canonical_name, type_id, id, type)
21   (concept_name, alter_names, canonical_name, type_id, id, type)
22   (concept_name, alter_names, canonical_name, type_id, id, type)
23   (concept_name, alter_names, canonical_name, type_id, id, type)
24   (concept_name, alter_names, canonical_name, type_id, id, type)
25   (concept_name, alter_names, canonical_name, type_id, id, type)
26   (concept_name, alter_names, canonical_name, type_id, id, type)
27   (concept_name, alter_names, canonical_name, type_id, id, type)
28   (concept_name, alter_names, canonical_name, type_id, id, type)
29   (concept_name, alter_names, canonical_name, type_id, id, type)
30   (concept_name, alter_names, canonical_name, type_id, id, type)
31   (concept_name, alter_names, canonical_name, type_id, id, type)
32   (concept_name, alter_names, canonical_name, type_id, id, type)
33   (concept_name, alter_names, canonical_name, type_id, id, type)
34   (concept_name, alter_names, canonical_name, type_id, id, type)
35   (concept_name, alter_names, canonical_name, type_id, id, type)
36   (concept_name, alter_names, canonical_name, type_id, id, type)
37   (concept_name, alter_names, canonical_name, type_id, id, type)
38   (concept_name, alter_names, canonical_name, type_id, id, type)
39   (concept_name, alter_names, canonical_name, type_id, id, type)
40   (concept_name, alter_names, canonical_name, type_id, id, type)
41   (concept_name, alter_names, canonical_name, type_id, id, type)
42   (concept_name, alter_names, canonical_name, type_id, id, type)
43   (concept_name, alter_names, canonical_name, type_id, id, type)
44   (concept_name, alter_names, canonical_name, type_id, id, type)
45   (concept_name, alter_names, canonical_name, type_id, id, type)
46   (concept_name, alter_names, canonical_name, type_id, id, type)
47   (concept_name, alter_names, canonical_name, type_id, id, type)
48   (concept_name, alter_names, canonical_name, type_id, id, type)
49   (concept_name, alter_names, canonical_name, type_id, id, type)
50   (concept_name, alter_names, canonical_name, type_id, id, type)
51   (concept_name, alter_names, canonical_name, type_id, id, type)
52   (concept_name, alter_names, canonical_name, type_id, id, type)
53   (concept_name, alter_names, canonical_name, type_id, id, type)
54   (concept_name, alter_names, canonical_name, type_id, id, type)
55   (concept_name, alter_names, canonical_name, type_id, id, type)
56   (concept_name, alter_names, canonical_name, type_id, id, type)
57   (concept_name, alter_names, canonical_name, type_id, id, type)
58   (concept_name, alter_names, canonical_name, type_id, id, type)
59   (concept_name, alter_names, canonical_name, type_id, id, type)
60   (concept_name, alter_names, canonical_name, type_id, id, type)
61   (concept_name, alter_names, canonical_name, type_id, id, type)
62   (concept_name, alter_names, canonical_name, type_id, id, type)
63   (concept_name, alter_names, canonical_name, type_id, id, type)
64   (concept_name, alter_names, canonical_name, type_id, id, type)
65   (concept_name, alter_names, canonical_name, type_id, id, type)
66   (concept_name, alter_names, canonical_name, type_id, id, type)
67   (concept_name, alter_names, canonical_name, type_id, id, type)
68   (concept_name, alter_names, canonical_name, type_id, id, type)
69   (concept_name, alter_names, canonical_name, type_id, id, type)
70   (concept_name, alter_names, canonical_name, type_id, id, type)
71   (concept_name, alter_names, canonical_name, type_id, id, type)
72   (concept_name, alter_names, canonical_name, type_id, id, type)
73   (concept_name, alter_names, canonical_name, type_id, id, type)
74   (concept_name, alter_names, canonical_name, type_id, id, type)
75   (concept_name, alter_names, canonical_name, type_id, id, type)
76   (concept_name, alter_names, canonical_name, type_id, id, type)
77   (concept_name, alter_names, canonical_name, type_id, id, type)
78   (concept_name, alter_names, canonical_name, type_id, id, type)
79   (concept_name, alter_names, canonical_name, type_id, id, type)
80   (concept_name, alter_names, canonical_name, type_id, id, type)
81   (concept_name, alter_names, canonical_name, type_id, id, type)
82   (concept_name, alter_names, canonical_name, type_id, id, type)
83   (concept_name, alter_names, canonical_name, type_id, id, type)
84   (concept_name, alter_names, canonical_name, type_id, id, type)
85   (concept_name, alter_names, canonical_name, type_id, id, type)
86   (concept_name, alter_names, canonical_name, type_id, id, type)
87   (concept_name, alter_names, canonical_name, type_id, id, type)
88   (concept_name, alter_names, canonical_name, type_id, id, type)
89   (concept_name, alter_names, canonical_name, type_id, id, type)
90   (concept_name, alter_names, canonical_name, type_id, id, type)
91   (concept_name, alter_names, canonical_name, type_id, id, type)
92   (concept_name, alter_names, canonical_name, type_id, id, type)
93   (concept_name, alter_names, canonical_name, type_id, id, type)
94   (concept_name, alter_names, canonical_name, type_id, id, type)
95   (concept_name, alter_names, canonical_name, type_id, id, type)
96   (concept_name, alter_names, canonical_name, type_id, id, type)
97   (concept_name, alter_names, canonical_name, type_id, id, type)
98   (concept_name, alter_names, canonical_name, type_id, id, type)
99   (concept_name, alter_names, canonical_name, type_id, id, type)
100  (concept_name, alter_names, canonical_name, type_id, id, type)
101  (concept_name, alter_names, canonical_name, type_id, id, type)
102  (concept_name, alter_names, canonical_name, type_id, id, type)
103  (concept_name, alter_names, canonical_name, type_id, id, type)
104  (concept_name, alter_names, canonical_name, type_id, id, type)
105  (concept_name, alter_names, canonical_name, type_id, id, type)
106  (concept_name, alter_names, canonical_name, type_id, id, type)
107  (concept_name, alter_names, canonical_name, type_id, id, type)
108  (concept_name, alter_names, canonical_name, type_id, id, type)
109  (concept_name, alter_names, canonical_name, type_id, id, type)
110  (concept_name, alter_names, canonical_name, type_id, id, type)
111  (concept_name, alter_names, canonical_name, type_id, id, type)
112  (concept_name, alter_names, canonical_name, type_id, id, type)
113  (concept_name, alter_names, canonical_name, type_id, id, type)
114  (concept_name, alter_names, canonical_name, type_id, id, type)
115  (concept_name, alter_names, canonical_name, type_id, id, type)
116  (concept_name, alter_names, canonical_name, type_id, id, type)
117  (concept_name, alter_names, canonical_name, type_id, id, type)
118  (concept_name, alter_names, canonical_name, type_id, id, type)
119  (concept_name, alter_names, canonical_name, type_id, id, type)
120  (concept_name, alter_names, canonical_name, type_id, id, type)
121  (concept_name, alter_names, canonical_name, type_id, id, type)
122  (concept_name, alter_names, canonical_name, type_id, id, type)
123  (concept_name, alter_names, canonical_name, type_id, id, type)
124  (concept_name, alter_names, canonical_name, type_id, id, type)
125  (concept_name, alter_names, canonical_name, type_id, id, type)
126  (concept_name, alter_names, canonical_name, type_id, id, type)
127  (concept_name, alter_names, canonical_name, type_id, id, type)
128  (concept_name, alter_names, canonical_name, type_id, id, type)
129  (concept_name, alter_names, canonical_name, type_id, id, type)
130  (concept_name, alter_names, canonical_name, type_id, id, type)
131  (concept_name, alter_names, canonical_name, type_id, id, type)
132  (concept_name, alter_names, canonical_name, type_id, id, type)
133  (concept_name, alter_names, canonical_name, type_id, id, type)
134  (concept_name, alter_names, canonical_name, type_id, id, type)
135  (concept_name, alter_names, canonical_name, type_id, id, type)
136  (concept_name, alter_names, canonical_name, type_id, id, type)
137  (concept_name, alter_names, canonical_name, type_id, id, type)
138  (concept_name, alter_names, canonical_name, type_id, id, type)
139  (concept_name, alter_names, canonical_name, type_id, id, type)
140  (concept_name, alter_names, canonical_name, type_id, id, type)
141  (concept_name, alter_names, canonical_name, type_id, id, type)
142  (concept_name, alter_names, canonical_name, type_id, id, type)
143  (concept_name, alter_names, canonical_name, type_id, id, type)
144  (concept_name, alter_names, canonical_name, type_id, id, type)
145  (concept_name, alter_names, canonical_name, type_id, id, type)
146  (concept_name, alter_names, canonical_name, type_id, id, type)
147  (concept_name, alter_names, canonical_name, type_id, id, type)
148  (concept_name, alter_names, canonical_name, type_id, id, type)
149  (concept_name, alter_names, canonical_name, type_id, id, type)
150  (concept_name, alter_names, canonical_name, type_id, id, type)
151  (concept_name, alter_names, canonical_name, type_id, id, type)
152  (concept_name, alter_names, canonical_name, type_id, id, type)
153  (concept_name, alter_names, canonical_name, type_id, id, type)
154  (concept_name, alter_names, canonical_name, type_id, id, type)
155  (concept_name, alter_names, canonical_name, type_id, id, type)
156  (concept_name, alter_names, canonical_name, type_id, id, type)
157  (concept_name, alter_names, canonical_name, type_id, id, type)
158  (concept_name, alter_names, canonical_name, type_id, id, type)
159  (concept_name, alter_names, canonical_name, type_id, id, type)
160  (concept_name, alter_names, canonical_name, type_id, id, type)
161  (concept_name, alter_names, canonical_name, type_id, id, type)
162  (concept_name, alter_names, canonical_name, type_id, id, type)
163  (concept_name, alter_names, canonical_name, type_id, id, type)
164  (concept_name, alter_names, canonical_name, type_id, id, type)
165  (concept_name, alter_names, canonical_name, type_id, id, type)
166  (concept_name, alter_names, canonical_name, type_id, id, type)
167  (concept_name, alter_names, canonical_name, type_id, id, type)
168  (concept_name, alter_names, canonical_name, type_id, id, type)
169  (concept_name, alter_names, canonical_name, type_id, id, type)
170  (concept_name, alter_names, canonical_name, type_id, id, type)
171  (concept_name, alter_names, canonical_name, type_id, id, type)
172  (concept_name, alter_names, canonical_name, type_id, id, type)
173  (concept_name, alter_names, canonical_name, type_id, id, type)
174  (concept_name, alter_names, canonical_name, type_id, id, type)
175  (concept_name, alter_names, canonical_name, type_id, id, type)
176  (concept_name, alter_names, canonical_name, type_id, id, type)
177  (concept_name, alter_names, canonical_name, type_id, id, type)
178  (concept_name, alter_names, canonical_name, type_id, id, type)
179  (concept_name, alter_names, canonical_name, type_id, id, type)
180  (concept_name, alter_names, canonical_name, type_id, id, type)
181  (concept_name, alter_names, canonical_name, type_id, id, type)
182  (concept_name, alter_names, canonical_name, type_id, id, type)
183  (concept_name, alter_names, canonical_name, type_id, id, type)
184  (concept_name, alter_names, canonical_name, type_id, id, type)
185  (concept_name, alter_names, canonical_name, type_id, id, type)
186  (concept_name, alter_names, canonical_name, type_id, id, type)
187  (concept_name, alter_names, canonical_name, type_id, id, type)
188  (concept_name, alter_names, canonical_name, type_id, id, type)
189  (concept_name, alter_names, canonical_name, type_id, id, type)
190  (concept_name, alter_names, canonical_name, type_id, id, type)
191  (concept_name, alter_names, canonical_name, type_id, id, type)
192  (concept_name, alter_names, canonical_name, type_id, id, type)
193  (concept_name, alter_names, canonical_name, type_id, id, type)
194  (concept_name, alter_names, canonical_name, type_id, id, type)
195  (concept_name, alter_names, canonical_name, type_id, id, type)
196  (concept_name, alter_names, canonical_name, type_id, id, type)
197  (concept_name, alter_names, canonical_name, type_id, id, type)
198  (concept_name, alter_names, canonical_name, type_id, id, type)
199  (concept_name, alter_names, canonical_name, type_id, id, type)
200  (concept_name, alter_names, canonical_name, type_id, id, type)
201  (concept_name, alter_names, canonical_name, type_id, id, type)
202  (concept_name, alter_names, canonical_name, type_id, id, type)
203  (concept_name, alter_names, canonical_name, type_id, id, type)
204  (concept_name, alter_names, canonical_name, type_id, id, type)
205  (concept_name, alter_names, canonical_name, type_id, id, type)
206  (concept_name, alter_names, canonical_name, type_id, id, type)
207  (concept_name, alter_names, canonical_name, type_id, id, type)
208  (concept_name, alter_names, canonical_name, type_id, id, type)
209  (concept_name, alter_names, canonical_name, type_id, id, type)
210  (concept_name, alter_names, canonical_name, type_id, id, type)
211  (concept_name, alter_names, canonical_name, type_id, id, type)
212  (concept_name, alter_names, canonical_name, type_id, id, type)
213  (concept_name, alter_names, canonical_name, type_id, id, type)
214  (concept_name, alter_names, canonical_name, type_id, id, type)
215  (concept_name, alter_names, canonical_name, type_id, id, type)
216  (concept_name, alter_names, canonical_name, type_id, id, type)
217  (concept_name, alter_names, canonical_name, type_id, id, type)
218  (concept_name, alter_names, canonical_name, type_id, id, type)
219  (concept_name, alter_names, canonical_name, type_id, id, type)
220  (concept_name, alter_names, canonical_name, type_id, id, type)
221  (concept_name, alter_names, canonical_name, type_id, id, type)
222  (concept_name, alter_names, canonical_name, type_id, id, type)
223  (concept_name, alter_names, canonical_name, type_id, id, type)
224  (concept_name, alter_names, canonical_name, type_id, id, type)
225  (concept_name, alter_names, canonical_name, type_id, id, type)
226  (concept_name, alter_names, canonical_name, type_id, id, type)
227  (concept_name, alter_names, canonical_name, type_id, id, type)
228  (concept_name, alter_names, canonical_name, type_id, id, type)
229  (concept_name, alter_names, canonical_name, type_id, id, type)
230  (concept_name, alter_names, canonical_name, type_id, id, type)
231  (concept_name, alter_names, canonical_name, type_id, id, type)
232  (concept_name, alter_names, canonical_name, type_id, id, type)
233  (concept_name, alter_names, canonical_name, type_id, id, type)
234  (concept_name, alter_names, canonical_name, type_id, id, type)
235  (concept_name, alter_names, canonical_name, type_id, id, type)
236  (concept_name, alter_names, canonical_name, type_id, id, type)
237  (concept_name, alter_names, canonical_name, type_id, id, type)
238  (concept_name, alter_names, canonical_name, type_id, id, type)
239  (concept_name, alter_names, canonical_name, type_id, id, type)
240  (concept_name, alter_names, canonical_name, type_id, id, type)
241  (concept_name, alter_names, canonical_name, type_id, id, type)
242  (concept_name, alter_names, canonical_name, type_id, id, type)
243  (concept_name, alter_names, canonical_name, type_id, id, type)
244  (concept_name, alter_names, canonical_name, type_id, id, type)
245  (concept_name, alter_names, canonical_name, type_id, id, type)
246  (concept_name, alter_names, canonical_name, type_id, id, type)
247  (concept_name, alter_names, canonical_name, type_id, id, type)
248  (concept_name, alter_names, canonical_name, type_id, id, type)
249  (concept_name, alter_names, canonical_name, type_id, id, type)
250  (concept_name, alter_names, canonical_name, type_id, id, type)
251  (concept_name, alter_names, canonical_name, type_id, id, type)
252  (concept_name, alter_names, canonical_name, type_id, id, type)
253  (concept_name, alter_names, canonical_name, type_id, id, type)
254  (concept_name, alter_names, canonical_name, type_id, id, type)
255  (concept_name, alter_names, canonical_name, type_id, id, type)
256  (concept_name, alter_names, canonical_name, type_id, id, type)
257  (concept_name, alter_names, canonical_name, type_id, id, type)
258  (concept_name, alter_names, canonical_name, type_id, id, type)
259  (concept_name, alter_names, canonical_name, type_id, id, type)
260  (concept_name, alter_names, canonical_name, type_id, id, type)
261  (concept_name, alter_names, canonical_name, type_id, id, type)
262  (concept_name, alter_names, canonical_name, type_id, id, type)
263  (concept_name, alter_names, canonical_name, type_id, id, type)
264  (concept_name, alter_names, canonical_name, type_id, id, type)
265  (concept_name, alter_names, canonical_name, type_id, id, type)
266  (concept_name, alter_names, canonical_name, type_id, id, type)
267  (concept_name, alter_names, canonical_name, type_id, id, type)
268  (concept_name, alter_names, canonical_name, type_id, id, type)
269  (concept_name, alter_names, canonical_name, type_id, id, type)
270  (concept_name, alter_names, canonical_name, type_id, id, type)
271  (concept_name, alter_names, canonical_name, type_id, id, type)
272  (concept_name, alter_names, canonical_name, type_id, id, type)
273  (concept_name, alter_names, canonical_name, type_id, id, type)
274  (concept_name, alter_names, canonical_name, type_id, id, type)
275  (concept_name, alter_names, canonical_name, type_id, id, type)
276  (concept_name, alter_names, canonical_name, type_id, id, type)
277  (concept_name, alter_names, canonical_name, type_id, id, type)
278  (concept_name, alter_names, canonical_name, type_id, id, type)
279  (concept_name, alter_names, canonical_name, type_id, id, type)
280  (concept_name, alter_names, canonical_name, type_id, id, type)
281  (concept_name, alter_names, canonical_name, type_id, id, type)
282  (concept_name, alter_names, canonical_name, type_id, id, type)
283  (concept_name, alter_names, canonical_name, type_id, id, type)
284  (concept_name, alter_names, canonical_name, type_id, id, type)
285  (concept_name, alter_names, canonical_name, type_id, id, type)
286  (concept_name, alter_names, canonical_name, type_id, id, type)
287  (concept_name, alter_names, canonical_name, type_id, id, type)
288  (concept_name, alter_names, canonical_name, type_id, id, type)
289  (concept_name, alter_names, canonical_name, type_id, id, type)
290  (concept_name, alter_names, canonical_name, type_id, id, type)
291  (concept_name, alter_names, canonical_name, type_id, id, type)
292  (concept_name, alter_names, canonical_name, type_id, id, type)

In [171]:
# Remove empty alter_names property from DictionaryConcept nodes
gds.run_cypher('''
                match(n:DictionaryCConcept { alter_names: "NA"}) 
                remove n.alter_names
                ''')

Empty DataFrame
Columns: []
Index: []

In [172]:
# link DictionaryConcept nodes to OntologicalConcept by ID
gds.run_cypher('''
                MATCH(d:DictionaryConcept), (o:OntologicalConcept)
                WHERE d.type_id = o.id
                MERGE (d)-[:IS_INSTANCE_OF]->(o)
                ''')

Empty DataFrame
Columns: []
Index: []

In [173]:
# Create fulltext index on DictionaryConcept nodes
gds.run_cypher('''CREATE FULLTEXT INDEX dict_concept_search IF NOT EXISTS FOR (n:DictionaryConcept) ON EACH [n.name]''')

Empty DataFrame
Columns: []
Index: []

In [174]:
# (optional) Exports the whole database incl. indexes as cypher statements to the provided file
gds.run_cypher('''CALL apoc.export.cypher.all('kg_export_after_load_dictionary_concepts.cypher',{format:'cypher-shell'})''')

,file,batches,source,format,nodes,relationships,properties,time,rows,batchSize,cypherStatements,nodeStatements,relationshipStatements,schemaStatements,cleanupStatements
0,kg_export_after_load_dictionary_concepts.cypher,1,"database: nodes(704), rels(683)",cypher,704,683,3960,61,1387,20000,None,None,None,None,None